.spacer {
	padding-bottom: 1rem;
}

.button {
	display: inline-block;
	color: white;
	background: purple;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	text-decoration: none;
}

.button:hover {
	background: palevioletred;
}

.typeform-widget {
	height: 300px;
}